#fondo{
  border-radius: 5px;
  border: thin solid orange;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.funko{
position: relative;
margin: 0 auto;
top: 10px;
height: 16cm;
width: 16cm;
border: thin solid white;
}
.cabeza{
  position: absolute;
  height: 300px;
  width: 400px;
  top: 1px;
  left: 10px;
  right: 10px;
  margin: 0 auto;
  background-color: #ff9300;
  border-radius: 20%;
  animation: mover-cabeza 5s linear 0s infinite alternate;
}
@keyframes mover-cabeza {
0% { left: 10em; }
25% { left: 2em; }
50% { left: 0; right: 0; }
75% { right: 2em; }
100% { right: 10em; }

}

}
.ojos{

}
.ojo_der{
position: absolute;
height: 80px;
width: 80px;
top: 70px;
left: 70px;
right: px;
margin: 0 auto;
background-color: black;
border-radius: 50%;
animation: epilepsia 5s linear 0s infinite alternate;

}

@keyframes epilepsia {
  0%   {background-color:#00fff6; }
  25%  {background-color:#ff0534; }
  50%  {background-color:blue;}
  75%  {background-color:green; }
  100% {background-color:red;}

  }

.ojo_izq{
position: absolute;
height: 80px;
width: 80px;
top: 70px;
left: 260px;
right: px;
margin: 0 auto;
background-color: black;
border-radius: 50%;
animation: epilepsia 5s linear 0s infinite alternate;
}
@keyframes epilepsia {
  0%   {background-color:#00fff6; }
  25%  {background-color:#ff0534; }
  50%  {background-color:blue;}
  75%  {background-color:green; }
  100% {background-color:red;}
}
.boca
{
  position: relative;
  height: 20px;
  width: 100px;
  top: 200px;
  left: 5px;
  right: px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
}
.cuerpo{
  position: absolute;
  height: 300px;
  width: 300px;
  top: 300px;
  left: 10px;
  right: 10px;
  margin: 0 auto;
  background-color: #ff9300;
  border-radius: 10%;
}
.cuerpopocho
{
  position: absolute;
  height: 280px;
  width: 200px;
  top: 310px;
  left: 10px;
  right: 10px;
  margin: 0 auto;
  background-color: #f3dc7f;
  border-radius: 10%;
}
.brazo {
position: relative;
height: px;
width: px;
top: px;
left: px;
right: px;
margin: 0 auto;
background-color: black;
border-radius: 20%;
}
.brazo_d{
position: absolute;
height: 50px;
transform: rotate(120deg);
width: 200px;
top: 400px;
left: 30px;
right: 400px;
margin: 0 auto;
background-color: orange;
border-radius: 0%;}
.brazo_i{
position: absolute;
  transform: rotate(40deg);
height: 50px;
width: 200px;
top: 380px;
left: 70px;
right: -315px;
margin: 0 auto;
background-color: orange;
border-radius: 0%;}
.pierna {
position: relative;
height: px;
width: px;
top: px;
left: px;
right: px;
margin: 0 auto;
background-color: black;
border-radius: 20%;
}
.pierna_i{
position: absolute;
height: 100px;
transform: rotate(0deg);
width: 100px;
top: 600px;
left: 170px;
right: 400px;
margin: 0 auto;
background-color: orange;
border-radius: 0%;}
.pierna_d{
position: absolute;
  transform: rotate(0deg);
height: 100px;
width: 100px;
top: 600px;
left: 70px;
right: -105px;
margin: 0 auto;
background-color: orange;
border-radius: 0%;}
.garra {
position: relative;
height: px;
width: px;
top: px;
left: px;
right: px;
margin: 0 auto;
background-color: black;
border-radius: 20%;
}
.garra_d{
position: absolute;
height: 10px;
transform: rotate(120deg);
width: 10px;
top: 500px;
left: 30px;
right: 440px;
margin: 0 auto;
background-color: white;
border-radius: 0%;}
.garra_i{
position: absolute;
  transform: rotate(4deg);
height: 10px;
width: 10px;
top: 380px;
left: 70px;
right: -315px;
margin: 0 auto;
background-color: white;
border-radius: 0%;}
